# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/
# Ignore test coverage documentation, too large of files
coverage/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
ios/build/
macos/build/

# Web related

# Custom files
custom/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx
native/target
target
jniLibs

pubspec.lock

rustfk
/fk-data

/.env

/lib/l10n/untranslated.txt

# FVM Version Cache
.fvm/

# Android / Gradle
/build
/gradle
gradlew
.gradle
gradlew.bat
gradle.properties
settings.gradle.kts
app/build.gradle.kts
app/src/main/kotlin/org/example/App.kt
app/src/test/kotlin/org/example/AppTest.kt

# Diagnostics files
diagnostics-*.txt
