# This is a template, documenting the available options. You will need to copy
# this file to .env to build the application and can modify that file to
# customize. .env is intentionally ignored and shouldn't be committed.

# Force showing the welcome screen on startup.
# SHOW_WELCOME_SCREEN=false

# Overriding the URL used to communicate with the portal.
# FK_PORTAL_URL=http://192.168.0.100:8080

DESKPRO_API_KEY=2:[DESKPRO_API_KEY]
# DeskPro department ID for ticket routing
# DESKPRO_DEPARTMENT=7
# DeskPro agent ID for API requests
# DESKPRO_AGENT_ID=20
